<!-- contenedor principal -->
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Botones
    </mat-panel-title>
  </mat-expansion-panel-header>

  <test-material-button></test-material-button>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Campos de Texto (input)
    </mat-panel-title>
  </mat-expansion-panel-header>

  <test-material-input></test-material-input>
</mat-expansion-panel>

<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Listas
    </mat-panel-title>
  </mat-expansion-panel-header>

  <test-material-list></test-material-list>
</mat-expansion-panel>
